<% present(node) do |node_presenter| %>
<div class="row directory-item">
  <div class="columns usage-bar" style="width: <%= node_presenter.usage_width %>%"></div>
  <div class="small-1 columns filetype-icon">
    <img src="/assets/file.png">
  </div>
  <div class="small-11 columns file-name">
    <span><%= node.name %></span>
  </div>
</div>
<% end %>
