<% add_body_class "external" %>
<%= javascript_include_tag asset_path("external.js") %>

<div class="dropbox-logo">
  <%= inline_svg 'dropbox.svg' %>
</div>

<div id="Hero" class="row full-width" data-equalizer-watch>
  <div class="content">
    <h1>Schrodinger</h1>
    <h3>What's in the box?</h3>

    <ul class="button-group">
      <li><a href="/auth/dropbox_oauth2" class="button radius">Find Out</a></li>
      <li><a class="button radius show-more-info">More Info</a></li>
    </ul>
  </div>
</div>

<div class="row go-down">
  <%= image_tag "down.png" %>
</div>

<div class="row more-info" data-equalizer>
  <div class="small-6 columns" data-equalizer-watch>
    <h2>Analyze</h2>
    <p>Schrodinger analyzes your Dropbox account and lets you know exactly where your space is going.</p>
  </div>
  <div class="small-6 columns" data-equalizer-watch>
    <h2>Interact</h2>
    <p>A fully interactive interface lets you drill down usage by navigating through your Dropbox folders quickly.</p>
  </div>
</div>

<div class="row more-info" data-equalizer>
  <div class="small-6 columns" data-equalizer-watch>
    <h2>Graph</h2>
    <p>Easily see what categories your files fall into, such as music, video, documents, etc.</p>
  </div>
  <div class="small-6 columns" data-equalizer-watch>
    <h2>Realtime</h2>
    <p>As you add or remove files in your Dropbox, Schrodinger will update in realtime. Watch your space become reclaimed while you organize.</p>
  </div>
</div>

<div class="row more-info footer">
  <div class="small-12 columns">
    <p>Created by Ryan LeFevre</p>
  </div>
</div>
