<% present(current_node) do |node_presenter| %>
<div id="Breadcrumbs" class="row">
  <div class="small-12 columns">
    <ul class="breadcrumbs">
      <% node_presenter.each_path_component do |ancestor| %>
        <li><a data-path="<%= ancestor.dropbox_path %>"><%= ancestor.name.blank? ? "Home" : ancestor.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
