<% present(current_node) do |node_presenter| %>
<div class="row">
  <div class="small-12 columns">
    <ul class="breadcrumbs">
      <li><a href="#">Home</a></li>
      <% node_presenter.each_path_component do |path| %>
        <li><a href="#"><%= path %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
