<h1>Stats for <%= current_user.name %></h1>

<% present(root_node) do |node_presenter| %>
  <p>You have <%= node_presenter.files_count %> files in your Dropbox account taking up <%= node_presenter.total_space %>.</p>
<% end %>
