<% add_body_class "internal" %>
<%= javascript_include_tag asset_path("wait.js") %>
<% title("Reticulating splines...") %>

<div id="Wait" class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Please wait</h1>
      <p>Our hamsters are currently fetching your Dropbox data and crunching some code. This may take a minute depending on how many files you have.</p>
      <p>This page will automatically redirect once your stats are ready. We only have to do this once.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="progress small-12 radius">
      <span class="meter" style="width: 0"></span>
    </div>
  </div>
</div>
